<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IFCC.DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <IFCC.DAL.Properties.Settings>
            <setting name="IFCC_DAL_IFCC3_iFCC_WS" serializeAs="String">
                <value>http://fcc_webservice.fcc.co.th/ws-ifccws/ifcc.asmx</value>
            </setting>
        </IFCC.DAL.Properties.Settings>
    </applicationSettings>
</configuration>